html {
    height: 100%;
    width: 100%;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  header{
    height: 110px;
    color:#fff;
    width:100%;
    background-color:#111D7A ;
  }
  li{
    text-decoration: none;
    list-style-type: none;
    color: white;
  }
  .a{
    text-decoration: none;
    padding: 15px;
    border-radius:13px;
    margin-top: 30px;
    color: white;
    margin-right:50px;
    font-size: 20px;
  }
  .a:hover{
    background-color:white;
    color:#111D7A ;
    transition: 0.8s;
  }
  .titulo > h1{
    font-family: 'Lobster', cursive;
    font-size:60px;
    margin-top:20px;
  }
  .titulo{
    margin-left: 30px;
    margin-top: -10px;
  }
  nav{
    display: flex;
    justify-content: space-around;
  }
  .menu{
    margin-top: 40px;
    margin-right:-50px;
  }
  .imagens{
    display: flex;
    justify-content: space-around;
    margin-top:50px;
  }
  .img > img{
    width: 400px;
    height:500px;
    border-radius: 5px;
  }
  .im:hover{
    border: 10px solid white;
  }
  main{
    text-align: center;
    background-color: #ebe6e6;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 49px;
    border-radius: 10px;
     box-shadow: 2px 2px 4px #d0cdcd;
  }
  main > h1{
    font-size: 50px;
    color:#111D7A  ;
    font-family: 'Lobster', cursive;
    text-align: center;
  
  }
  main > h3{
    color: #222020;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
  }
  section{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 410px;
  }
  section > div{
    width: 30%;
    background-color: #ebe6e6;
    border-radius: 10px;
    box-shadow: 2px 2px 4px #d0cdcd;
  }
  .textos{
    margin: 40px;
  }
  .textos > h1{
    font-family: 'Lobster', cursive;
    color:#111D7A ;
    font-size:70px ;
  }
  .textos > h2{
    font-family: 'Roboto', sans-serif;
    color:#111D7A ;
    font-size: 20px;
  }
  .textos > h3{
    font-family: 'Roboto', sans-serif;
    color:#222020;
  }
  .a{
    padding: 15px;
    border-radius: 15px;
    background-color:#111D7A;
    color: #fff;
    font-family: 'Roboto', sans-serif;
  }
  .a:hover{
    margin: 2px solid #ebe6e6 ;
    transition: 1s;
  }
  footer{
    width: 100%;
    height: 380px;
    background-color: #111D7A ;
    text-align: center;
    color: white;
  }
  footer > h1{
    color: #fff;
    font-family: 'Lobster', cursive;
    font-size:55px ;
    padding-top: 30px;
  }
  .opcoes{
    width: 100%;
    height: 370px;
    display: flex;
  }
  .menu1{
    width: 25%;
    height:370px;
  }
  .sociais{
    display: flex;
    padding-top: 10px;
    padding-left: 70px;
  }
  .here{
    width: 70px;
    height: 70px;
  }
  .here > img{
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  .aa{
    color: white;
    text-decoration: none;
    list-style-type: none;
    font-weight: bold;
  }
  .aa:hover{
    color: gray;
  }
  .menu1 > h2{
    font-size: 20px;
  }
  .menu1 > h1{
    font-size: 25px;
  }
